.register {
  width: 100%;
  min-height: 88.9vh;
  /* padding: 0 20px; */
  /* background: #e9e9e9; */
  display: flex;
}

.register .registerContainer {
  padding: 40px 60px 0 60px;
  /* margin: auto; */
  width: 100%;
  max-width: 520px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  background: #ffffff;
  box-shadow: -16px 16px 40px rgba(3, 113, 106, 0.1);
  border-radius: 20px;
  /* background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    ); */
  /* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8); */
}

/* .register .registerContainer label {
  color: #343a3f;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
} */

.register .registerContainer input {
  width: 100%;
  /* border: none;
    outline: none; */
  font-size: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #343a3f;
  letter-spacing: 1px;
}

.register .registerContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.register .registerContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #343a3f;
}

.register .registerContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.register .registerContainer .btnContainer p span:hover {
  color: red;
}

.register .registerContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.jumbotronContainer {
  background-color: #00a69c;
}

.registerBox {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 140px;
}

.titleForm {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #00a69c;
}

.symbolPosition {
  transform: rotate(90deg);
}

.buttonDesign {
  background: rgba(64, 64, 65, 0.2);
  border: 0.5px solid rgba(52, 58, 63, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.buttonText {
  color: #404041;
  opacity: 0.7;
}
